<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>Peer to Peer Chat</title>
    <link rel="stylesheet" th:href="@{/style.css}"/>
    <meta charset="utf-8"/>
  </head>
  <body>
    <p th:text="${error.errorMessage}"></p>
    <h1>Peer to Peer Chat program</h1>
    <form action="/" method="post" th:object="${user}">
      <span>Your username:</span>
      <input type="text" name="userName" th:value="${user.userName}"/>
      <input type="submit" value="update"/>
    </form>
    <form action="/sendnew"  method="post">
      <span>Write your message here:</span>
      <input type="hidden" name="username" th:value="${user.userName}"/>
      <input type="text" name="text"/>
      <input type="submit" value="Send"/>
    </form>
    <ul>
      <li>
        <p><b>App</b></p>
        <p><b>Hi there! Submit your message using the send button!</b></p>
      </li>
      <li th:each="message : ${messageList}">
        <p th:text="${message.username}"></p>
        <p th:text="${message.text}"></p>
        <span th:text="${message.timestamp}"></span>
      </li>
    </ul>
  </body>
</html>